*, *::before, *::after {box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  --accentcolour: #ac8daf;
  --darkcolour: #484c7f;
  --lightestcolour: #f0e3e3;
  --medColour: #ddb6c6;

  --lightblue: rgb(241, 245, 248);
  --basisfarbe: rgb(250, 250, 250);
  --textColour: rgb(0, 0, 0);

  --green: rgb(185, 250, 229);
  --red: rgb(254, 200, 210);

  --activeLink: hotpink;
}

@media screen and (min-width: 600px) {

  html { font-size: 1.125rem; }
  .infoboxen .inside {
    max-width: 60rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .abschnitt-projekte .inside,
  .abschnitt-obsidian .inside,
  .abschnitt-linked .inside {
    max-width: 60rem;
  }

} 

.site-header {
  padding: 1rem 1rem;
}


body {
  background-color: var(--basisfarbe);
  color: var(--textColour);

  font-family: system-ui, sans-serif;

  max-width: none;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column;
}

h1, h2{
  line-height: normal;
  font-weight: 500;
}
h3{
  line-height: normal;
  font-weight: 500;
  height: 56px;
  width: 327px;
  display: table-cell;
  vertical-align: middle;

}
.sort {
  padding: 0;
  margin: 0;
}

em {
  font-size: small;
}

.aufstellung {
  color: black;
  text-align: center;
  border-bottom: 2px dashed var(--darkcolour);
}

ul.pfeil { list-style-type: "\2192\00a0"; }
ul.pfeil li::marker { color: var(--akzentfarbe); }

a {
  text-decoration-line: underline; 
  text-decoration-style: solid; 
  text-decoration-thickness: 1px; 
  text-underline-offset: 0.25em;

} 
a:hover, a:focus {
  text-decoration-style: dashed;
  color: rgb(170, 28, 28); 
}
a:active {
  color: var(--activeLink);

}

a.call-to-action {
  display: block;
  max-width: 10rem;
  text-decoration: none;

  padding: 0.5rem 1rem;
  border: 1px solid currentColor;
  margin-inline: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

a.call-to-action:hover, a.call-to-action:focus {
  background-color: var(--lightblue);
  border: 1px solid var(--medColour);
}

a.call-to-action:active {
  background-color: var(--activeLink);
  color: var(--lightblue);
  border: 1px solid var(--activeLink);

}

a[target="_blank"]::after {
  content: "\00a0\2197";
}

img {
  max-width: 100%;
  height: 450px;
  border-radius: 0.5rem;
  
}

span {
  color: red;
  display: block;
}

figure, blockquote {
  margin: 0;
  max-width: 100%;
}

figure:has(img) {
  position: relative;
  text-align: center;
}

figure:has(img) figcaption {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  font-size: medium;
  font-weight: bold;
  color:var(--darkcolour);
  background-color: rgba(200, 254, 225, 0.7);
  padding: 0.5rem 1rem;
  max-width: 100%;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}




.site-footer {
  text-align: right; 
  background-color: var(--darkcolour);
  color: var(--basisfarbe);
  font-size: smaller;
  padding: 0.5rem 1rem;

}
.site-footer a {
  color: var(--basisfarbe);
  text-decoration-line: none;
}
.site-footer a:hover, 
.site-footer a:focus {
  text-decoration-line: underline; 
  text-decoration-style: solid; 
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height:1px;
  overflow: hidden;

  clip-path: inset(50%);
  white-space: nowrap;
}